#
# Copyright (c) 2019 by Delphix. All rights reserved.
#
ddp_hostname = {{ ddp_hostname }}
username = {{ ddp_username }}
password = {{ ddp_password }}
skip-validate = {{ skip_validate }}
filename = {{ filename }}
toolkit_path = {{ toolkit_path }}
environment_user = {{ environment_user }}